[Unit]
Description = paniniclaw

[Service]
Type             = simple
User             = paniniclaw
Group            = paniniclaw
LimitNOFILE      = 4096
Restart          = on-failure
RestartSec       = 5s
StandardOutput   = append:/paniniclaw/paniniclaw/std.log
StandardError    = append:/paniniclaw/paniniclaw/std.log
WorkingDirectory = /paniniclaw/paniniclaw
ExecStart        = /paniniclaw/paniniclaw/pocketbase serve
LoadCredential   = config:/paniniclaw/paniniclaw/secrets/config.json

# Optional hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
#ReadWritePaths=/paniniclaw/paniniclaw

[Install]
WantedBy = multi-user.target